{% if tours.has_previous or tours.has_next %}
<nav aria-label="Tour packages navigation">
    <ul class="pagination">
        {% if tours.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ tours.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">
                Previous
            </a>
        </li>
        {% endif %}

        {% for num in tours.paginator.page_range %}
            {% if tours.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if tours.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ tours.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}