{% extends 'user_base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row d-flex flex-wrap justify-content-center bg-white rounded-3 shadow-sm p-4">
        <!-- Tour Image Section -->
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="{{ tour.featured_image.url }}" class="img-fluid rounded-3" alt="{{ tour.title }}">
        </div>

        <!-- Tour Content Section -->
        <div class="col-md-6 align-items-center">
            <h3 class="tour-title fw-light text-center text-success">{{ tour.title }}</h3>
            <div class="d-flex mt-4 align-items-center justify-content-evenly tour-details mb-4">
                <p style="background-color:#fdfdfd; padding: 5px 15px; border-radius: 5px;border: solid grey 2px"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ tour.destination }}</p>
                <p style="background-color:#fdfdfd; padding: 5px 15px; border-radius: 5px;border: solid grey 2px"><i class="fa fa-clock" aria-hidden="true"></i> {{ tour.duration }} days</p>
                <p style="background-color:#fdfdfd; padding: 5px 15px; border-radius: 5px;border: solid grey 2px"> Ksh {{ tour.price }}</p>
                <p style="background-color:#fdfdfd; padding: 5px 15px; border-radius: 5px;border: solid grey 2px"><i class="fa fa-users" aria-hidden="true"></i> {{ tour.max_group_size }}</p>
            </div>

            <div class="tour-description text-center">
                <p>{{ tour.description }}</p>
            </div>

            <!-- Tour Booking Action -->
            <div class="tour-actions text-center mt-4">
                <a href="{% url 'book-tour' tour.id %}" class="btn btn-outline-success w-75">
                    <i class="fas fa-calendar-check me-2"></i> Book Now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
