{% extends 'starter-page.html' %}

{% load static %}
 <h1 class="display-3 text-white animated slideInDown">{% block h1 %}About Us{% endblock h1 %}</h1>
<li class="breadcrumb-item text-white active" aria-current="page">{% block link %} About {% endblock link%}</li>
{% block body %}
<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded-3" src="{% static 'img/warrior-4371555_1280.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">Welcome to <span class="text-success">Tourify</span></h1>
                    <p class="mb-4">At Tourify, we are passionate about crafting unforgettable travel experiences that inspire and connect people. As a premier tours and travel agency, we specialize in offering customized itineraries, group adventures, and once-in-a-lifetime journeys to the most breathtaking destinations around the globe. Whether you’re seeking a serene escape, an adrenaline-pumping adventure, or a cultural immersion, Tourify is your trusted partner in bringing your travel dreams to life.</p>

                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>First Class Flights</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>Handpicked Hotels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>5 Star Accommodations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>Latest Model Vehicles</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>150 Premium City Tours</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>24/7 Service</p>
                        </div>
                    </div>
                    <a class="btn btn-outline-success py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock %}