<h2>Welcome Admin, {{ user.fullname }}!</h2>
<p>You can manage users below:</p>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>