<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
</head>
<body>
<h1>Welcome To AdventureKe</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio incidunt ipsa provident repellat rerum, sapiente ut voluptate! Consectetur minus, ullam. Amet, autem ex hic non odit quas qui temporibus.</span><span>Alias eius est ex iste iure iusto laboriosam. Aperiam at consectetur culpa, enim harum modi, neque possimus sapiente similique temporibus ullam, voluptas? Autem eos error eum neque nobis saepe unde?</span></p>
</body>
</html>