<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tourist - Travel Agency HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0" >
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a class="navbar-brand fw-bold" href="{% url 'index' %}">
                <i class="fas fa-globe-europe me-2"></i>Tourify
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                    <a href="{% url 'package' %}" class="nav-item nav-link">Packages</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                </div>
                <a href="{% url 'login' %}" class="btn btn-outline-success rounded-3 py-2 px-4">SignIn</a>
                <a href="{% url 'register' %}" class="btn btn-outline-warning rounded-3 ms-3 py-2 px-4">Register</a>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10  text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Explore the World with Tourify</h1>
                        <p class="text-white mb-5 animated slideInDown" style="font-size: 18px">Discover unforgettable travel experiences with Tourify, your trusted tours and travel agency. From breathtaking safari adventures to serene beach getaways and cultural explorations, we bring your dream destinations to life. </p>
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input class="form-control border-0  w-100 py-4 ps-4 pe-5" type="text" placeholder="Eg: Mombasa">
                            <button type="button" class="btn btn-success py-3 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

     <!-- Destination Start -->
<div class="container-fluid py-5 destination">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="destination-card position-relative overflow-hidden rounded-4">
                        <img src="{% static 'img/mountains-7608306_1280.jpg' %}" class="img-fluid" alt="Thailand Destination">
                        <div class="badge bg-warning position-absolute top-0 start-0 m-3">30% OFF</div>
                        <div class="destination-overlay">
                            <h3 class="destination-text h3 text-white mb-2">Mount Kenya</h3>
                            <small class="destination-text text-light mb-0">Mount Kenya provides an exhilarating hiking adventure with diverse trails such as Sirimon, Chogoria, and Naro Moru.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="destination-card position-relative overflow-hidden rounded-4">
                        <img src="{% static 'img/beach-2931453_1280.jpg' %}" class="img-fluid" alt="Malaysia Destination">
                        <div class="badge bg-danger position-absolute top-0 start-0 m-3">25% OFF</div>
                        <div class="destination-overlay">
                            <h3 class="destination-text h3 text-white mb-2">Mombasa Beach</h3>
                            <small class="destination-text text-light mb-0">Mombasa's beaches offer a perfect tropical getaway with pristine white sands, crystal-clear waters, and vibrant coral reefs.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="destination-card position-relative overflow-hidden rounded-4">
                        <img src="{% static 'img/warrior-4371555_1280.jpg' %}" class="img-fluid" alt="Australia Destination">
                        <div class="badge bg-success position-absolute top-0 start-0 m-3">35% OFF</div>
                        <div class="destination-overlay">
                            <h3 class="destination-text h3 text-white mb-2">Maasai Mara</h3>
                            <small class="destination-text text-light mb-0">Maasai culture thrives alongside one of the world's most renowned wildlife reserves</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center"><h1>About Us</h1></div>
            <div class="row g-5 mt-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded-3" src="{% static 'img/warrior-4371555_1280.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">Welcome to <span class="text-success">Tourify</span></h1>
                    <p class="mb-4">At Tourify, we are passionate about crafting unforgettable travel experiences that inspire and connect people. As a premier tours and travel agency, we specialize in offering customized itineraries, group adventures, and once-in-a-lifetime journeys to the most breathtaking destinations around the globe. Whether you’re seeking a serene escape, an adrenaline-pumping adventure, or a cultural immersion, Tourify is your trusted partner in bringing your travel dreams to life.</p>

                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>First Class Flights</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>Handpicked Hotels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>5 Star Accommodations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>Latest Model Vehicles</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>150 Premium City Tours</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-warning me-2"></i>24/7 Service</p>
                        </div>
                    </div>
                    <a class="btn btn-outline-success py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->

<div class="container py-5">
    <div class="text-center"><h1>Services</h1></div>
    <div class="row g-4 mt-5">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-globe text-danger mb-4"></i>
                    <h5>WorldWide Tours</h5>
                    <p>Explore breathtaking destinations across the globe with our expertly curated travel packages.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-success mb-4"></i>
                    <h5>Hotel Reservation</h5>
                    <p>Book comfortable and luxurious accommodations tailored to your travel plans and preferences.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-secondary mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Experience guided tours led by professional experts who bring destinations to life with their insights.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-cog text-warning mb-4"></i>
                    <h5>Event Management</h5>
                    <p>Plan and execute memorable events, from corporate gatherings to personal celebrations, with ease.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service End -->





   <!-- Process Start -->
<div class="container-xxl pb-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <!-- Step 1 -->
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp border-warning-subtle shadow-sm rounded-3" data-wow-delay="0.1s">
                <div class="pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center text-danger" style="width: 70px; height: 70px;">
                        <i class="fa fa-globe fa-2x"></i>
                    </div>
                    <h5 class="mt-4">Choose A Destination</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Explore our wide range of destinations and pick the perfect one for your next adventure.</p>
                </div>
            </div>
            <!-- Step 2 -->
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp shadow-sm rounded-3" data-wow-delay="0.3s">
                <div class="pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center text-warning" style="width: 70px; height: 70px;">
                        <i class="fa fa-dollar-sign fa-2x"></i>
                    </div>
                    <h5 class="mt-4">Pay Online</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Secure and hassle-free online payment options to make your booking quick and easy.</p>
                </div>
            </div>
            <!-- Step 3 -->
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp rounded-3 shadow-sm" data-wow-delay="0.5s">
                <div class="pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center text-success rounded-circle" style="width: 70px; height: 70px;">
                        <i class="fa fa-plane fa-2x"></i>
                    </div>
                    <h5 class="mt-4">Fly Today</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Pack your bags and get ready to embark on your journey. Your adventure begins now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process End -->


<!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center"><h1>Awesome Packages</h1></div>
        <div class="row g-4 justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/masai-mara.jpg' %}" alt="Masai Mara Safari">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Masai Mara</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>4 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Experience the Great Migration and witness the incredible wildlife of the world-famous Masai Mara National Reserve</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-outline-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/coast.jpg' %}" alt="Coastal Kenya Adventure">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Mombasa</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>5 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Explore the pristine beaches, historic sites, and vibrant culture of Kenya's enchanting coastal region</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-outline-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/mount-kenya-7377807_1280.jpg' %}" alt="Mount Kenya Expedition">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Mount Kenya</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>6 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">

                        <p>Embark on an unforgettable mountain climbing adventure to the second-highest peak in Africa</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-outline-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Package End -->

    <!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">What Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">Sarah Williams</h5>
                <p>Los Angeles, USA</p>
                <p class="mb-0">"Our trip was perfectly organized, and the service exceeded our expectations. I can't wait to book my next adventure!"</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">James Anderson</h5>
                <p>London, UK</p>
                <p class="mt-2 mb-0">"Everything from the booking process to the actual tour was seamless. The team made sure every detail was covered."</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">Emily Johnson</h5>
                <p>Sydney, Australia</p>
                <p class="mt-2 mb-0">"The tour guides were so knowledgeable and friendly. This was truly a once-in-a-lifetime experience for me!"</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">David Miller</h5>
                <p>Toronto, Canada</p>
                <p class="mt-2 mb-0">"I appreciate the attention to detail and excellent communication throughout the entire process. Highly recommended!"</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="{% url 'index' %}">Tourify</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-success btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>