{% extends 'starter-page.html' %}

{% load static %}
<h1 class="display-3 text-white animated slideInDown">{% block h1 %}Available Packages{% endblock h1 %}</h1>
<li class="breadcrumb-item text-white active" aria-current="page">{% block link %} Packages {% endblock link%}</li>
{% block body %}
<!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/masai-mara.jpg' %}" alt="Masai Mara Safari">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Masai Mara</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>4 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Experience the Great Migration and witness the incredible wildlife of the world-famous Masai Mara National Reserve</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/coast.jpg' %}" alt="Coastal Kenya Adventure">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Mombasa</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>5 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <p>Explore the pristine beaches, historic sites, and vibrant culture of Kenya's enchanting coastal region</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/mount-kenya-7377807_1280.jpg' %}" alt="Mount Kenya Expedition">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-dark me-2"></i>Mount Kenya</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-dark me-2"></i>6 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-dark me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">

                        <p>Embark on an unforgettable mountain climbing adventure to the second-highest peak in Africa</p>
                        <div class="mb-2">
                            <a href="#" class="btn btn-success w-100 py-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Package End -->


    <!-- Process Start -->
    <div class="container-xxl pb-5 " >
        <div class="container">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp border-warning-subtle shadow-sm rounded-3" data-wow-delay="0.1s">
                    <div class="pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center text-danger " style="width: 70px; height: 70px;">
                            <i class="fa fa-globe fa-2x"></i>
                        </div>
                        <h5 class="mt-4">Choose A Destination</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp shadow-sm rounded-3" data-wow-delay="0.3s">
                    <div class="pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center text-warning" style="width: 70px; height: 70px;">
                            <i class="fa fa-dollar-sign fa-2x"></i>
                        </div>
                        <h5 class="mt-4">Pay Online</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp rounded-3 shadow-sm" data-wow-delay="0.5s">
                    <div class="pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center text-success  rounded-circle" style="width: 70px; height: 70px;">
                            <i class="fa fa-plane fa-2x"></i>
                        </div>
                        <h5 class="mt-4">Fly Today</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->


{% endblock %}