{% extends 'starter-page.html' %}

{% load static %}
<h1 class="display-3 text-white animated slideInDown">{% block h1 %}Services{% endblock h1 %}</h1>
{% block body %}
<!-- Service Start -->

<div class="container py-5">
    <div class="row g-4">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-globe text-danger mb-4"></i>
                    <h5>WorldWide Tours</h5>
                    <p>Explore breathtaking destinations across the globe with our expertly curated travel packages.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-success mb-4"></i>
                    <h5>Hotel Reservation</h5>
                    <p>Book comfortable and luxurious accommodations tailored to your travel plans and preferences.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-secondary mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Experience guided tours led by professional experts who bring destinations to life with their insights.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-cog text-warning mb-4"></i>
                    <h5>Event Management</h5>
                    <p>Plan and execute memorable events, from corporate gatherings to personal celebrations, with ease.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service End -->


    <!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">What Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">Sarah Williams</h5>
                <p>Los Angeles, USA</p>
                <p class="mb-0">"Our trip was perfectly organized, and the service exceeded our expectations. I can't wait to book my next adventure!"</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">James Anderson</h5>
                <p>London, UK</p>
                <p class="mt-2 mb-0">"Everything from the booking process to the actual tour was seamless. The team made sure every detail was covered."</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">Emily Johnson</h5>
                <p>Sydney, Australia</p>
                <p class="mt-2 mb-0">"The tour guides were so knowledgeable and friendly. This was truly a once-in-a-lifetime experience for me!"</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
{#                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">#}
                <h5 class="mb-0">David Miller</h5>
                <p>Toronto, Canada</p>
                <p class="mt-2 mb-0">"I appreciate the attention to detail and excellent communication throughout the entire process. Highly recommended!"</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}