{% extends 'base.html' %}
<h4 class="page-title">{% block page-title %}User Bookings{% endblock %}</h4>
{% block body %}
<div class="col-md-12">
                <div class="card">

                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table "
                      >
                        <thead class="table table-dark">
                          <tr>
                            <th>Client</th>
                            <th>Package</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Slots</th>
                            <th>Price</th>

                          </tr>
                        </thead>

                        <tbody>
                        {% for bk in bookings %}
                          <tr>

                                  <td>{{ bk.user.email }}</td>
                                  <td>{{ bk.tour.title }}</td>
                                  <td>{{ bk.booking_date }}</td>
                                  <td>
                                      {% if bk.status == 'PENDING' %}
                                      <span class="badge bg-warning">pending</span>
                                          {% elif bk.status == 'CANCELLED' %}
                                          <span class="badge bg-warning">pending</span>
                                          {% elif bk.status == 'CONFIRMED' %}
                                          <span class="badge bg-warning">confirmed</span>
                                      {% endif %}
                                  </td>
                                  <td>{{ bk.slots_booked }}</td>
                                  <td>{{ bk.total_price }}</td>

                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

{% endblock %}