{% extends 'base.html' %}
<h4 class="page-title">{% block page-title %}All Clients{% endblock %}</h4>
{% block body %}
<div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                      <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.fullname }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone_number }}</td>
                <td>
                    {% if client.is_active %}
                        <span class="badge bg-success">Active</span>
                    {% else %}
                        <span class="badge bg-danger">Banned</span>
                    {% endif %}
                </td>
                <td>
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <a href="{% url 'ban_user' client.id %}" class="btn {% if client.is_active %}btn-danger{% else %}btn-success{% endif %} btn-sm">
                            {% if client.is_active %}Ban{% else %}Unban{% endif %}
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}