{% extends 'base.html' %}
<h4 class="page-title">{% block page-title %}Tour Guides{% endblock %}</h4>
{% block body %}
<div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                    <table id="add-row" class="display table">
                     <thead class="table table-dark">
                         <tr>
                              <th>Name</th>
                                <th>Email</th>
        <th>Mobile</th>
        <th>Designation</th>
        <th style="width: 20%">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for guide in guides %}
        <tr>
          <td>{{ guide.name }}</td>
          <td>{{ guide.email }}</td>
          <td>{{ guide.phone_number }}</td>
          <td>{{ guide.designation }}</td>
          <td>
              <i class="fa fa-eye text-secondary" aria-hidden="true"></i>
              <i class="fa fa-trash text-danger ms-2" aria-hidden="true"></i>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
                  </div>
                </div>
              </div>
{% endblock %}