{% extends 'base.html' %}
{% block page-title %}Tour Packages{% endblock %}
{% block body %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-start">

         <a href="{% url 'create_tour' %}"
          class="btn btn-secondary ms-auto"
        >
          New Tour
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="add-row" class="display table">
          <thead class="table table-dark">
            <tr>
              <th>Title</th>
              <th>Destination</th>
              <th>Days</th>
              <th>Slots</th>
              <th>Price</th>
              <th style="width: 15%">Action</th>
            </tr>
          </thead>

          <tbody>
            {% for package in tours %}
            <tr>
              <td>{{ package.title }}</td>
              <td>{{ package.destination }}</td>
              <td>{{ package.duration_days }}</td>
              <td>{{ package.available_slots }}</td>
              <td>{{ package.price }}</td>
              <td>
                <div class="form-button-action">
                  <a
                    href="{% url 'update_tour' package.id %}"
                    class="btn btn-link btn-primary btn-sm"
                    data-original-title="Edit Tour"
                  >
                    <i class="fa fa-edit"></i>
                  </a>
                  <a
                    href="{% url 'delete_tour' package.id %}"
                    class="btn btn-link btn-danger btn-sm"
                    data-original-title="Delete Tour"
                  >
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}